
@{
    ViewData["Title"] = "About";
}
<div class="d-flex justify-content-center" id="container">
    <div class="wrapper" style="max-width:500px;">
        <div class="row">
            <div class="col-md-6 justify-content-center"><img src="/Images/emil.jpeg" class="border rounded-circle" id="me" alt="Image placeholder" /></div>
            <div class="col-md-6 justify-content-center align-middle"><h1 class="">Emil Ringwall</h1></div>
        </div>        
        <div class="row border-top ">
            <h2 class="font-weight-bold">About me:</h2>
            <p>I am 42 year old and have 3 kids. Stella, Saga and Dante. I am an analytical engineer who have a big interest in learning programming. </p>
            <p>On my spare time I love to work in my garde, renovate in my home or spend my time with my family. Before Corona i used to love climbing and spending time with friends</p>
        </div>
    </div>
</div>