@{
    ViewData["Title"] = "Contact";
}
<div class="d-flex justify-content-center" id="container">
    <div class="wrapper">
        <h3 class="">If you want to reach me, <br /> please use any of the methods below:</h3>
        <label for="emailForm">By email:</label>
        <input type="email" class="form-control" id="emailForm" value="emil.ringwall@gmail.com" disabled>

        <label for="phone">By phone:</label>
        <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{4}-[0-9]{6}" value="0731-599848" disabled>

    </div>
</div>